.users {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__title {
    margin: 0;
    padding-bottom: 25px;
  }

  &__user {
    margin: auto;
    width: 98%;
    border-bottom: 1.5px solid hsl(240, 1%, 73%);
  }
  &__user-header {
    display: flex;
    .remove-button {
      width: 4%;
      margin: auto 0;
      cursor: pointer;
      color: rgb(136, 5, 5);
    }
  }
  &__user-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    padding-top: 18px;
    padding-bottom: 18px;

    &::after {
      content: url(../images/icon-arrow-down.svg);
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: $soft-red;
    }
  }
  &__content {
    display: flex;
    transition: all 200ms ease-out;

    .remove-button {
      cursor: pointer;
      color: rgb(73, 25, 169);
      margin-left: 10px;
    }
  }
  &__desc {
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}
